[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

# boto3<2.0.0,>=1.9.71


[dev-packages]

pytest>=4.0.2,<5.0.0

# boto3<2.0.0,>=1.9.71
# sceptre="*"
# moto
# placebo

[requires]

python_version = "3.7"

